*
{
    font-family: monospace;
}

body
{
    background-color: #333;
    color: antiquewhite;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1
{
    text-transform: uppercase;
    font-size: 40px;
}

.title
{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: tomato;
}

#link
{
    text-decoration: none;
    color: inherit;
}

p
{
    font-size: 25px;
}

.frame, .content
{
    background-color: rgba(112, 128, 144, 0.215);
    border-left: solid 3px olivedrab;
    padding-left: 20px;

    width: 700px;
}

