*
{
    font-family: monospace;
}

body
{
    background-color: #333;
    color: antiquewhite;

    display: flex;
    /* align-items: center; */
    justify-content: center;
}

h1
{
    text-transform: uppercase;
    font-size: 40px;
}

.title
{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: tomato;

}

p
{
    font-size: 25px;
}

.frame
{
    /* background-color: steelblue; */
    border-left: solid 3px olivedrab;
    /* box-sizing: border-box; */
    padding-left: 20px;

    width: 700px;
}

