*
{
    font-family: monospace;
}

body
{
    background-color: #333;
    color: antiquewhite;

    display: flex;
    /* align-items: center; */
    justify-content: center;
}

h1
{
    text-transform: uppercase;
    font-size: 40px;
}
p
{
    font-size: 25px;
}

.frame
{
    background-color: steelblue;
    width: 700px;
}

